version: 2.1

orbs:
  node: circleci/node@5.2.0
  browser-tools: circleci/browser-tools@1.4.8

executors:
  playwright-executor:
    docker:
      - image: mcr.microsoft.com/playwright:v1.57.0-jammy
    resource_class: medium
    working_directory: ~/playwright-rms-angular

jobs:
  install-dependencies:
    executor: playwright-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-deps-v1-{{ checksum "package.json" }}
            - npm-deps-v1-
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: npm-deps-v1-{{ checksum "package.json" }}
          paths:
            - ~/.npm
            - node_modules
      - persist_to_workspace:
          root: ~/playwright-rms-angular
          paths:
            - .

  run-e2e-tests:
    executor: playwright-executor
    parallelism: 3
    environment:
      TEST_EMAIL: saied.mohamed@contellect.com
      TEST_PASSWORD: "123"
      TEST_REALM: Mobile_QC_RMS_ECM
      BASE_URL: https://csp.contellect.co.za
    steps:
      - attach_workspace:
          at: ~/playwright-rms-angular
      - run:
          name: Run E2E Tests
          command: |
            SHARD="$((${CIRCLE_NODE_INDEX} + 1))"
            npx playwright test tests/e2e/ --shard=${SHARD}/${CIRCLE_NODE_TOTAL}
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: test-results
      - store_artifacts:
          path: playwright-report
          destination: playwright-report


workflows:
  version: 2
  playwright-rms-test-suite:
    jobs:
      - install-dependencies
      - run-e2e-tests

  nightly-tests:
    triggers:
      - schedule:
          cron: "0 2 * * *"
          filters:
            branches:
              only:
                - main
                - master
    jobs:
      - install-dependencies
      - run-e2e-tests:
          requires:
            - install-dependencies
